.bash_history
.gitconfig
.viminfo
AppData/
Contacts/
Desktop/
Documents/
Downloads/
IdeaProjects/
IntelGraphicsProfiles/
Links/
MicrosoftEdgeBackups/
Music/
NTUSER.DAT
NTUSER.DAT{b6436797-0e12-11e8-8742-800b0f1922ca}.TM.blf
NTUSER.DAT{b6436797-0e12-11e8-8742-800b0f1922ca}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{b6436797-0e12-11e8-8742-800b0f1922ca}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
PycharmProjects/
PythonShootGame/
Saved Games/
Searches/
WebstormProjects/AjaxTest/
WebstormProjects/CSS-DOM/
WebstormProjects/Cites/
WebstormProjects/Gallery/
WebstormProjects/JQuery/
WebstormProjects/StudioWebsite/
WebstormProjects/Test_1/
WebstormProjects/Uestc/
WebstormProjects/movement/
WebstormProjects/test/
WebstormProjects/testPages/
WebstormProjects/untitled/
WebstormProjects/untitled1/
WebstormProjects/untitled2/
WebstormProjects/yidongzhineng_1/images/
WebstormProjects/yidongzhineng_1/style/
"WebstormProjects/\347\273\274\345\220\210\350\257\276\347\250\213\350\256\276\350\256\241/.idea/"
"WebstormProjects/\347\273\274\345\220\210\350\257\276\347\250\213\350\256\276\350\256\241/style/"
css-modules-demos/
dwhelper/
first_react_app/
hj/
images/
learngit/
myfirstpjt/
node_modules/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
tutorial/
typings/
workspace/
"\346\225\260\346\215\256\347\273\223\346\236\204/"
.WebStorm2017.2/
Favorites/
README.md
Videos/
WebstormProjects/

\346\225\260\346\215\256\347\273\223\346\236\204/

